.pagination {
    padding: 7px;
    margin-right: 5px;
    border-radius: 7px;
    background: #FFFFFF;
    color: var(--black);
    border: none;
    cursor: pointer;
    outline-color: var(--blue);
}

.active,
.pagination:hover {
    background: var(--blue);
    color: #FFFFFF;
}

.active {
    outline-color: var(--black);
}
